<widget id="A6105963678357" version="0.0.3">

	<name>医生</name>

	<description>Example For APICloud.</description>

	<author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>

	<!-- <content src="http://10.20.51.121:8080/"/> -->

	<content src="http://192.168.0.104:8080/"/>

	<access origin="*"/>

	<preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true"/>

	<preference name="smartUpdate" value="false"/>

	<preference name="debug" value="true"/>

	<preference name="statusBarAppearance" value="true"/>

	<permission name="readPhoneState"/>

	<permission name="camera"/>

	<permission name="record"/>

	<permission name="location"/>

	<permission name="fileSystem"/>

	<permission name="internet"/>

	<permission name="bootCompleted"/>

	<permission name="hardware"/>
<!-- 
	<meta-data name="EASEMOB_APPKEY" value="gdpwq123#ceshi"/>

	<feature name="easeChat">

		<param name="appKey" value="gdpwq123#ceshi"/>

	</feature> -->

	<feature name="wxPlus"> 
	
		<param name="urlScheme" value=""/>
		
		<param name="apiKey" value="="/>
		
		<param name="apiSecret" value=""/>
		
		<param name="universalLink" value=""/>
	
	</feature>

	<feature name="ajpush">
	
		<param name="app_key" value=""/>
		
		<param name="channel" value=""/>
		
	</feature>

	<meta-data name="EASEMOB_APPKEY" value="1108200605042941#cloudhos"/>

	<feature name="easeChat">

		<param name="appKey" value="1108200605042941#cloudhos"/>

	</feature>

</widget>